{% extends "base.html" %}

{% block content %}

<h1>Build a Blog Post</h1>
<form method='post'>
  <label> New Title <input type="text" name="blog" value='{{blog_title}}' /></label><p class="error">{{title_error}}</p><br/>
  <label> New Blog <textarea type="text" name="body" value='{{blog_body}}' ></textarea></label><p class="error">{{blog_error}}</p><br/>
  <input type="submit" value="Add" />
</form>

  {% with messages = get_flashed_messages(with_categories=True) %}
      <ul>
        {% for error,message in messages %}
          <li class="{{error}}"><span>{{message}}</span></li>
        {% endfor %}
      </ul>
  {% endwith %}  


{% endblock %}