{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Post</h1>
<form method='POST' id="blog">
  <label> New Title <textarea type="text" name="blog" value='{{blog_title}}' ></textarea></label><p class="error">{{title_error}}</p><br/>
  <label> New Blog <textarea type="text" name="body" value='{{blog_body}}' ></textarea></label><p class="error">{{blog_error}}</p><br/>
  <input type="submit" value="Add" />
</form>

{% for username in owner %}
<h1><a href = '/blog?id={}{{blog.id}}'>{{blog.id}}</a></h1>
{% endfor %}
  {% with messages = get_flashed_messages(with_categories=True) %}
      <ul>
        {% for error, message in messages %}
          <li class="{{error}}">{{message}}</li>
        {% endfor %}
      </ul>
  {% endwith %}  


{% endblock %}