{% extends "base.html" %}

{% block content %}

	<h1>Signup</h1>
    <form method="post">

        <label for="username">Username</label>
        <input id="username" type="text" name="username" value="{{username}}"/>
        <p class="error">{{username_error}}</p>

        <label for="password">Password</label>
        <input id="password" type="text" name="password"/>
        <p class="error">{{password_error}}</p>

        <label for="passwordverify">Verify Password</label>
        <input id="passwordverify" type="text" name="passwordverify"/>
        <p class="error">{{passwordverify_error}}</p>

        <input type="submit" value="Submit" />
</form>

{% endblock %}